---
import type { LoadSong } from "$lib/bindings/LoadSong";
import Layout from "../../layouts/Layout.astro";
import EditSong from "../../components/EditSong.svelte";

const { id } = Astro.params;

const url = import.meta.env.PUBLIC_BACKEND_URL;

const song: LoadSong = await fetch(`${url}/song?id=${id}`)
  .then((res) => res.json())
  .catch((err) => console.error(err));

const lines = song.lines;
---

<Layout title={song.title}>
  <main class="flex h-dvh w-full flex-col items-start">
    <a
      href="/allsongs"
      class="absolute top-4 rounded-md bg-primary p-2 px-4 text-primary-foreground"
      >Back</a
    >
    <EditSong client:load lines={lines} url={url} />
  </main>
</Layout>
